@model BrosBurger.Models.Produto

@{
    ViewData["Title"] = "Create";
}

<h1 class="H1Título">Criar</h1>

<h4 class="text-light Preto2 w-25">Produto</h4>
<hr />
<div class="row text-light BackgroundR">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                Nome:
                <input asp-for="NomeProduto" class="form-control" />
                <span asp-validation-for="NomeProduto" class="text-danger"></span>
            </div>
            <div class="form-group">
                Descrição:
                <input asp-for="DescricaoProduto" class="form-control" />
                <span asp-validation-for="DescricaoProduto" class="text-danger"></span>
            </div>
            <div class="form-group">
                Imagem:
                <input asp-for="ImagemProduto" class="form-control" />
                <span asp-validation-for="ImagemProduto" class="text-danger"></span>
            </div>
            <div class="form-group">
                Valor:
                <input asp-for="ValorProduto" class="form-control" />
                <span asp-validation-for="ValorProduto" class="text-danger"></span>
            </div>
            <div class="form-group">
                Categoria:
                <select asp-for="CategoriaId" class ="form-control" asp-items="ViewBag.CategoriaId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-primary mt-2" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-danger mt-3">Voltar</a>
</div>

