@{
    ViewData["Title"] = "Privacy Policy";
}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sobre Nós - Bros Burgers</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

    <h2 class="text-light bg-black text-center p-3">Bros Burgers <i class="bi bi-star-fill" class="bg-warning"></i> <i class="bi bi-star-fill" class="bg-warning"></i> <i class="bi bi-star-fill" class="bg-warning"></i> <i class="bi bi-star-fill" class="bg-warning"></i> <i class="bi bi-star-fill" class="bg-warning"></i></h2>

  <div class="container mt-5 text-light">
    <div class="row">
      <div class="col-lg-6 bg-black">
        <h1 class="text-center">Sobre a Nossa Hamburgueria</h1>
        <p class="text-center">
          Bem-vindo à Bros Burgers, onde cada mordida é uma experiência deliciosa e memorável. Nossa jornada na culinária de hambúrgueres começou com um sonho simples: criar os hambúrgueres mais suculentos, saborosos e autênticos que você já provou.
        </p>
        <p class="text-center">
        Nossa história começa com um grupo de amigos que compartilhavam uma paixão comum por hambúrgueres. Inspirados por viagens ao redor do mundo e pela diversidade de sabores, decidimos criar uma hamburgueria que combina o melhor de todas as cozinhas e culturas em um hambúrguer. Acreditamos que a comida tem o poder de unir pessoas e criar memórias inesquecíveis, e é isso que impulsiona nossa dedicação em cada hambúrguer que preparamos.
        </p>
        <p class="text-center">
        Na Bros Burgers, nossa missão é proporcionar uma experiência gastronômica que vá além da simples saciedade. Queremos que cada visita à nossa hamburgueria seja um momento especial. Utilizamos ingredientes frescos e selecionados com cuidado, combinados com técnicas culinárias artesanais para criar hambúrgueres que se destacam. Valorizamos a autenticidade, a inovação e o compromisso com a satisfação do cliente.
        </p>
      </div>
      <div>
        <img src="~/img/lOgo2.png" alt="Minha Hamburgueria">
        <h1 class="Hamburgeria">Desenvolvedores:</h1>
        <img src="~/img/Nos.jpg" class="Nossa">
      </div>
    </div>
  </div>

  <footer class="text-light mt-5 py-3 text-center">
    &copy; 2023 Minha Hamburgueria. Todos os direitos reservados.
  </footer>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>


